OIDC_ISSUER_URL=
OIDC_CLIENT_ID=example
OIDC_CLIENT_SECRET=secret
OIDC_REDIRECT_URL=http://localhost:4000/api/auth/oidc/callback
POSTGRES_URL="host=example user=example password=example database=example port=5432"